.itemactive {
  background-color: #1890ff;
}

.item:hover {
  background-color: #e6f7ff;
  color: white;
  cursor: pointer;
}
.avatar:hover {
  color: #1890ff;
  background-color: white;
}
.title:hover {
  color: white;
}
.discription:hover {
  color: white;
}
